# Test data
data/

# Terraform
.terraform/
terraform.tfstate.backup
secret.tfvars

# Build dir
bin/

# Visual Studio Code
.vscode/

# MAC
.DS_Store

# Configuration files can contain sensitive information
config.yaml
